{% extends 'base.html.twig' %}

{% block title %}WESTAF TECH | Contact{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style><section class="slider">
      <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
    
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="{{asset('assets/images/contact/page-contact.png')}}" alt="WESTAF TECH Page de contact"></div>
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section>

    <!-- ==========================
        contact layout 1
    =========================== -->
    <section class="contact-layout1">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="contact-panel__title">Get In Touch</h4>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="contact-name">Name (required)</label>
                    <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                      required>
                  </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="contact-email">Email (required)</label>
                    <input type="email" class="form-control" placeholder="Email" id="contact-email" name="contact-email"
                      required>
                  </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="contact-Phone">Phone (required)</label>
                    <input type="text" class="form-control" placeholder="Phone" id="contact-Phone" name="contact-phone"
                      required>
                  </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="contact-website">Website (optional)</label>
                    <input type="text" class="form-control" placeholder="Website (optional)" id="contact-website"
                      name="contact-website">
                  </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group mb-20">
                    <label for="contact-message">Additional Details (optional)</label>
                    <textarea class="form-control" placeholder="Describe your inquirey!" id="contact-message"
                      name="contact-message"></textarea>
                  </div>
                  <div class="custom-control custom-checkbox d-flex align-items-center  mb-20">
                    <input type="checkbox" class="custom-control-input" id="terms">
                    <label class="custom-control-label" for="terms">I accept the privacy and terms.</label>
                  </div>
                  <button type="submit" class="btn btn__secondary btn__block ">Submit Request</button>
                  <div class="contact-result"></div>
                </div><!-- /.col-lg-12 -->
              </div><!-- /.row -->
            </form>
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1" style="background-color: #0E2B5C">
            <div class="contact-panel__info bg-overlay bg-overlay-primary" style="background-color: #0E2B5C">
              <div class="contact-block">
                <h5 class="contact-block__title">Notre Adresse</h5>
                <ul class="contact-block__list list-unstyled">
                  <li>Scat-Urbam / Liberté 6 / Dakar / Sénégal</li>
                </ul>
              </div><!-- /.contact-panel__info__block -->
              <div class="contact-block">
                <h5 class="contact-block__title"> Contact</h5>
                <ul class="contact-block__list list-unstyled">
                  <li><a href="mailto: westaftech1@gmail.com"></a>Email:  westaftech1@gmail.com</li>
                </ul>
              </div><!-- /.contact-panel__info__block -->
              <div class="contact-block">
                <h5 class="contact-block__title">Heures D'ouverture</h5>
                <ul class="contact-block__list list-unstyled">
                  <li>Lundi - Vendredi</li>
                  <li>08:00 H - 18:00 H</li>
                </ul>
              </div><!-- /.contact-panel__info__block -->
              <a href="contacs.html" class="btn btn__white btn__bordered btn__icon btn__xl">
                <span>Demander un Devis</span>
                <i class="icon-arrow-right"></i>
              </a>
            </div>
          </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact layout 1 -->

    <!-- ==========================
       Contact Info
    ============================ -->
    <section class="contact-info pt-0 pb-70">
      <div class="container">
        <div class="row">
          <!-- Contact panel #1 -->
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="contact-info-box">
              <h4 class="contact__info-box-title">Agence de Dakar</h4>
              <ul class="contact__info-list list-unstyled">
                <li>Email: <a href="mailto:westaftech1@gmail.com">westaftech1@gmail.com</a></li>
                <li>Address: Scat-Urbam / Liberté 6 / Dakar / Sénégal</li>
                <li>Phone: <a href="tel:5565454117">+221 78 483 41 98 / +221 77 754 69 17</a></li>
                <li>Hours: Lun-Ven: 8h – 18h</li>
              </ul><!-- /.contact__info-list -->
            </div><!-- /.contact-info-box -->
          </div><!-- /.col-lg-4 -->
          <!-- Contact panel #2 -->
          <!--div class="col-sm-12 col-md-4 col-lg-4">
            <div class="contact-info-box">
              <h4 class="contact__info-box-title">Berlin Office</h4>
              <ul class="contact__info-list list-unstyled">
                <li>Email: <a href="mailto:Mintech@7oroof.com">Mintech@7oroof.com</a></li>
                <li>Address: 2307 Beverley Rd Brooklyn, NY</li>
                <li>Phone: <a href="tel:5565454117">55 654 541 17</a></li>
                <li>Hours: Mon-Fri: 8am – 7pm</li>
              </ul>
            </div>
          </div--><!-- /.col-lg-4 -->
          <!-- Contact panel #3 -->
          <!--div class="col-sm-12 col-md-4 col-lg-4">
            <div class="contact-info-box">
              <h4 class="contact__info-box-title">Manchester Office</h4>
              <ul class="contact__info-list list-unstyled">
                <li>Email: <a href="mailto:Mintech@7oroof.com">Mintech@7oroof.com</a></li>
                <li>Address: 2307 Beverley Rd Brooklyn, NY</li>
                <li>Phone: <a href="tel:5565454117">55 654 541 17</a></li>
                <li>Hours: Mon-Fri: 8am – 7pm</li>
              </ul>
            </div>
          </div--><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
{% endblock %}
